/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include "keypos_34keys.h"

#define _BASE    0
#define _NUM_SYM 1
#define _NAVI    2
#define _FKEYS   3
#define _NUMPAD  4

#define RGB_BASE RGB_COLOR_HSB(230,20,3)
#define RGB_NAVI RGB_COLOR_HSB(100,80,3)
#define RGB_FKEYS RGB_COLOR_HSB(280,80,3)
#define RGB_SYM RGB_COLOR_HSB(0,80,3)
#define RGB_NPAD RGB_COLOR_HSB(200,80,3)

&sk {
    quick-release;
};

&sl {
    release-after-ms = <300>;
};

/ {
    macros {
        to_BASE: to_BASE {
            label = "ZM_to_BASE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&rgb_ug RGB_BASE>
                , <&to _BASE>
                ;
        };

        to_NAVI: to_NAVI {
            label = "ZM_to_NAVI";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&rgb_ug RGB_NAVI>
                , <&to _NAVI>
                ;
        };

        mo_NAVI: mo_NAVI {
            label = "ZM_mo_NAVI";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &rgb_ug RGB_NAVI>
                , <&macro_press &mo _NAVI>
                , <&macro_pause_for_release>
                , <&macro_tap &rgb_ug RGB_BASE>
                , <&macro_release &mo _NAVI>
                ;
        };

        mo_NUM_SYM: mo_NUM_SYM {
            label = "ZM_mo_NUM_SYM";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &rgb_ug RGB_SYM>
                , <&macro_press &mo _NUM_SYM>
                , <&macro_pause_for_release>
                , <&macro_tap &rgb_ug RGB_BASE>
                , <&macro_release &mo _NUM_SYM>
                ;
        };

        mo_FKEYS: mo_FKEYS {
            label = "ZM_mo_FKEYS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &rgb_ug RGB_FKEYS>
                , <&macro_press &mo _FKEYS>
                , <&macro_pause_for_release>
                , <&macro_tap &rgb_ug RGB_BASE>
                , <&macro_release &mo _FKEYS>
                ;
        };

        to_NUMPAD: to_NUMPAD {
            label = "ZM_to_NUMPAD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&rgb_ug RGB_NPAD>
                , <&to _NUMPAD>
                ;
        };

        to_BOOT: to_BOOT {
            label = "ZM_to_BOOT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_COLOR_HSB(0,100,50)>
                , <&rgb_ug RGB_ON>
                , <&bootloader>
                ;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_RESET {
            timeout-ms = <50>;
            key-positions = <LTI LTC RTC RTI>;
            bindings = <&rch A A>;
            // layers = <_NAVI>;
        };

        combo_RGBEFF {
            timeout-ms = <50>;
            key-positions = <LMC RMC>;
            bindings = <&rgb_ug RGB_EFF>;
            // layers = <_FKEYS>;
        };

        combo_ESC {
            timeout-ms = <50>;
            key-positions = <LTR LTM>;
            bindings = <&kp ESC>;
            layers = <_BASE _NUM_SYM>;
        };

        combo_TAB {
            timeout-ms = <50>;
            key-positions = <LMR LMM>;
            bindings = <&kp TAB>;
            layers = <_BASE _NUM_SYM>;
        };

        combo_DEL {
            timeout-ms = <50>;
            key-positions = <RTM RTR>;
            bindings = <&kp DEL>;
            layers = <_BASE _NUM_SYM>;
        };
            
        combo_RET {
            timeout-ms = <50>;
            key-positions = <RMM RMR>;
            bindings = <&kp RET>;
            layers = <_BASE _NUM_SYM>;
        };
            
        combo_lAltGr {
            timeout-ms = <50>;
            key-positions = <LBP LBR>;
            bindings = <&kp RALT>;
            layers = <_BASE _NUM_SYM>;
        };

        combo_rAltGr {
            timeout-ms = <50>;
            key-positions = <RBR RBP>;
            bindings = <&kp RALT>;
            layers = <_BASE _NUM_SYM>;
        };
          
        combo_LPAR {
            timeout-ms = <45>;
            key-positions = <LMM LMI>;
            bindings = <&kp LPAR>;
            layers = <_BASE _NUM_SYM>;
        };

        combo_RPAR {
            timeout-ms = <45>;
            key-positions = <RMI RMM>;
            bindings = <&kp RPAR>;
            layers = <_BASE _NUM_SYM>;
        };

        combo_LBRC {
            timeout-ms = <45>;
            key-positions = <LTM LTI>;
            bindings = <&kp LBRC>;
            layers = <_BASE _NUM_SYM>;
        };

        combo_RBRC {
            timeout-ms = <45>;
            key-positions = <RTI RTM>;
            bindings = <&kp RBRC>;
            layers = <_BASE _NUM_SYM>;
        };

        combo_LBKT {
            timeout-ms = <45>;
            key-positions = <LBM LBI>;
            bindings = <&kp LBKT>;
            layers = <_BASE _NUM_SYM>;
        };

        combo_RBKT {
            timeout-ms = <45>;
            key-positions = <RBI RBM>;
            bindings = <&kp RBKT>;
            layers = <_BASE _NUM_SYM>;
        };

//        combo_FSLH {
//            timeout-ms = <45>;
//            key-positions = <7 8>;
//            bindings = <&kp FSLH>;
//            layers = <_BASE _NUM_SYM>;
//        };

//        combo_BSLH {
//            timeout-ms = <45>;
//            key-positions = <1 2>;
//            bindings = <&kp BSLH>;
//            layers = <_BASE _NUM_SYM>;
//        };

        combo_GT {
            timeout-ms = <45>;
            key-positions = <LBR LBM>;
            bindings = <&kp GT>;
            layers = <_BASE _NUM_SYM>;
        };

        combo_LT {
            timeout-ms = <45>;
            key-positions = <RBM RBR>;
            bindings = <&kp LT>;
            layers = <_BASE _NUM_SYM>;
        };
    };

    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "LOCK_NAVI";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mo_NAVI>, <&to_NAVI>;
        };
 
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "LOCK_NUMPAD";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mo_FKEYS>, <&to_NUMPAD>;
        };

        td3: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_COPY_PASTA";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LC(C)>, <&kp LC(V)>;
        };

        td4: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "GUI_COPY_PASTA";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LG(C)>, <&kp LG(V)>;
        };

        ctrl_x: ctrl_x {
            compatible = "zmk,behavior-hold-tap";
            label = "CTRL_CUT_HOLD";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            bindings = <&kp>, <&td3>;
        };

        gui_x: gui_x {
            compatible = "zmk,behavior-hold-tap";
            label = "GUI_CUT_HOLD";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            bindings = <&kp>, <&td4>;
        };

        /* left-hand HRMs */
        hml: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HRM";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <270>;                // repeat on tap-into-hold
            global-quick-tap;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        /* right-hand HRMs */
        hmr: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HRM";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <270>;                // repeat on tap-into-hold
            global-quick-tap;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        bspctap: backsapce-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "BSPC_TAP_LSHIFT_HOLD";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <180>;
            // global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        spctap: space-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_TAP_MO_SYM_HOLD";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <180>;
            // global-quick-tap;
            bindings = <&mo_NUM_SYM>, <&kp>;
        };

        rch: reset-combo-hold {
            compatible = "zmk,behavior-hold-tap";
            label = "RESET_COMBO_HOLD";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <2500>;
            bindings = <&to_BOOT>, <&sys_reset>;
        };

        com_sem: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMI";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT)>;
        };

        dot_col: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT)>;
        };
        
        qmk_exc: qmark_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "QMARK_EXCL";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;
            mods = <(MOD_LSFT)>;
        };

        plus_multi: plus_multiply {
            compatible = "zmk,behavior-tap-dance";
            label = "PLUS_MULTIPLY";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp KP_PLUS>, <&kp KP_MULTIPLY>;
        };

        minus_div: minus_divide {
            compatible = "zmk,behavior-tap-dance";
            label = "MINUS_DIVIDE";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp KP_MINUS>, <&kp KP_DIVIDE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

                base_layer {
// -------------------------------    -------------------------------
// |  Q  |  F  |  V  |  P  |  B  |    |  K  |  L  |  U  |  Y  |  J  |
// |  A  |  R  |  S  |  T  |  G  |    |  M  |  N  |  E  |  I  |  O  |
// |  '  |  Z  |  C  |  D  |  W  |    |  X  |  H  | , ; | . : |  "  |
//         | _NAVI | SHIFT(BSPC) |    | _NUM_SYM(SPC) | _FKEYS(_NUMPAD) |
                        bindings = <
   &kp Q        &kp F       &kp V        &kp P       &kp B      &kp K &kp L       &kp U        &kp Y       &kp J
   &hml LSHFT A &hml LALT R &hml LCTRL S &hml LGUI T &kp G      &kp M &hmr LGUI N &hmr LCTRL E &hmr LALT I &hmr LSHFT O
   &kp SQT      &kp Z       &kp C        &kp D       &kp W      &kp X &kp H       &com_sem     &dot_col    &kp DQT
                                 &bspctap LSHIFT BSPC &td0      &td1 &spctap X SPACE
                        >;
                };

                num_sym_layer {
// -------------------------------    -------------------------------
// |  !  |  @  |  #  |  $  |  %  |    |  ^  |  &  |  *  |  (  |  )  |
// |  1  |  2  |  3  |  4  |  5  |    |  6  |  7  |  8  |  9  |  0  |
// |  \  |  ?  |  _  |  -  |  `  |    |  ~  |  +  |  =  |  |  |  /  |
//                  | SPC | BSPC |    |      |     |
                        bindings = <
   &kp EXCL      &kp AT       &kp HASH      &kp DLLR     &kp PRCNT      &kp CARET &kp AMPS     &kp ASTRK     &kp LPAR     &kp RPAR
   &hml LSHFT N1 &hml LALT N2 &hml LCTRL N3 &hml LGUI N4 &kp N5         &kp N6    &hmr LGUI N7 &hmr LCTRL N8 &hmr LALT N9 &hmr LSHFT N0
   &kp BSLH      &kp QMARK    &kp UNDER     &kp MINUS    &kp GRAVE      &kp TILDE &kp PLUS     &kp EQUAL     &kp PIPE     &kp FSLH
                                               &kp BSPC  &kp SPACE      &caps_word &none
                        >;
                };

                navi_layer {
// ----------------------------------------    -----------------------------------
// | ESC    |      | c,v,x | c,v,x | PRSC |    | PGUP | HOME |  UP  | END  | DEL |
// | sSHIFT | sALT | sCTRL | sGUI  | INS  |    | PGDN | LEFT | DOWN | RGHT | RET |
// |        |      | CALC  | TAB   | APP  |    | APP  | TAB  |      |      |     |
//                         | _BASE | BSPC |    | SPACE | _BASE |
                        bindings = <
   &kp ESC    &none    &ctrl_x LC(X) X &gui_x LG(X) X &kp PSCRN      &kp PG_UP &kp HOME &kp UP   &kp END   &kp DEL
   &sk LSHIFT &sk LALT &sk LCTRL       &sk LGUI       &kp INS        &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &kp RET
   &none      &none    &kp C_AL_CALC   &kp TAB        &kp K_APP      &kp K_APP &kp TAB  &none    &none     &none
                                       &kp BSPC       &to_BASE       &to_BASE &kp SPACE
                        >;
                };
                
                fkeys_layer {
// ------------------------------    ----------------------------------------
// | ESC | F1 | F2  | F3  | F4  |    | CALC | c,v,x | c,v,x |      |  DEL   |
// | RET | F5 | F6  | F7  | F8  |    | INS  | sGUI  | sCTRL | sALT | sSHIFT |
// |     | F9 | F10 | F11 | F12 |    | APP  |  TAB  |       |      |        |
//                 | SPC | BSPC |    |      |       |
                        bindings = <
   &kp ESC &kp F1 &kp F2  &kp F3  &kp F4        &kp C_AL_CALC &gui_x LG(X) X &ctrl_x LC(X) X &none    &kp DEL
   &kp RET &kp F5 &kp F6  &kp F7  &kp F8        &kp INS       &sk LGUI       &sk LCTRL       &sk LALT &sk LSHIFT
   &none   &kp F9 &kp F10 &kp F11 &kp F12       &kp K_APP     &kp TAB        &none           &none    &none
                         &kp BSPC &kp SPACE     &none         &none
                        >;
                };

                numpad_layer {
// ---------------------------------------    --------------------------------
// | BT1 | BT2  | BT3   | BT4  | BT5     |    | + * |  7  |  8  |  9  |  .   |
// |     | VOL- | MUTE  | VOL+ | OUT_TOG |    | ESC |  4  |  5  |  6  |  0   |
// |     | PREV | PLAYP | NEXT | BT CLR  |    | - / |  1  |  2  |  3  | BSPC |
//                        | _BASE | BSPC |    | ENTER | _BASE |
                        bindings = <
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &plus_multi   &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_DOT
   &none        &kp C_VOL_DN &kp C_MUTE   &kp C_VOL_UP &out OUT_TOG      &kp ESC       &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_N0
   &none        &kp C_PREV   &kp C_PP     &kp C_NEXT   &bt BT_CLR        &minus_div    &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp BSPC
                                          &kp BSPC     &to_BASE          &to_BASE      &kp KP_ENTER
                        >;
                };                
    };
};
